/*---------------------- Nav Bar ----------------------*/

body{
    margin: 0;
    font-family: "Inter", sans-serif;
    color: rgb(51 51 51);
    overflow-x: hidden;
    
}

.navbar{
    background-color: rgb(245 243 255);
    height: 70px;
    border-bottom: rgb(221 214 255) solid 2px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navbar img{
    background-color: rgb(142 81 255);
    width: 22px;
    height: 22px;
    padding: 10px;
    border-radius: 9px;
    margin: 15px;
    position: absolute;
    left: 140px;
}

.navbar h2{
    position: absolute;
    left: 200px;
    margin-top:20px;
    margin-left: 5px;
}
.navbar .nav-links{
    color: rgb(51 51 51);
    margin: 25px;
    position: absolute;
    left: 50%;
}

.navbar a{
    color: rgb(51 51 51);
    margin: 15px;
    padding-bottom: 5px;
    text-decoration: none;
    transition:color 0s,border-bottom;
}
.navbar a.home{
    border-bottom: solid rgb(142 81 255) 3px;
    color: rgb(142 81 255)
}


.navbar a:hover{
    border-bottom: solid rgb(142 81 255) 3px;
    color: rgb(142 81 255)
}


/*---------------------- Hero_Section ----------------------*/



.Hero_Section {
    width: 100%;
    position: absolute;
    top: 150px;
}
.Hero_Section .image{
    background-image: url(images/hero-img.png);
    background-size: cover;
    width: 500px;
    height: 500px;
    border-radius: 40px;
    position: absolute;
    left: 150px;
    border: 2px solid rgb(224 226 230);
    padding: 20px;
    background-clip: content-box;
}


.box{
    margin: 20px;
    position: absolute;
    font-size: small;
    background-color: rgb(142 81 255);
    border-radius: 20px;
    display: inline;
    padding: 5px 10px;
    color: white;
}


.Hero_Section .content{
    width: 580px;
    height: 550px;
    position: absolute;
    left: 50%;
    top: 0;
    background-clip: content-box;
}

.Hero_Section .content .boxes .box{
    margin: 0;
    margin-right: 10px;
    background-color: rgb(166 132 255);
    border-radius: 20px;
    position: relative;
    color: white;
}
.Hero_Section .content h1{
   font-size: 45px;
}
.Hero_Section .content h1 span{
    color: rgb(142 81 255);
}
.Hero_Section .content p.parag{
    font-size: 20px;
    line-height: 1.5;
}


.Hero_Section .content .price{
    margin-top: 30px;
    margin-bottom: 30px;
}

.Hero_Section .content .price h2{
    display: inline;
    font-size: 35px;
    margin-top: 20px;
    padding-top: 10px;
}
.Hero_Section .content .price del{
    margin-left: 20px;
    font-size: 25px;
    margin-top: 7px;
    position: absolute;
}
.Hero_Section .content .price b{
    margin: 20px;
    border-radius: 20px;
    padding: 5px 10px;
    color: rgb(224, 37, 12);
    margin-top: 7px;
    background-color:rgb(255 226 226);
    border-radius: 20px;
    position: absolute;
    left: 37%;
}

.Hero_Section .content button{
    width: 100%;
    height: 65px;
    border-radius: 30px;
    position: absolute;
    font-size: large;
    transition: transform .5s;
}
.Hero_Section .content .button1{
    background-color: rgb(142 81 255);
    color: white;
    border: none;
}
.Hero_Section .content .button2{
    bottom: 10px;
    background-color: rgb(255, 255, 255);
    border: rgb(209 213 220) solid 2px;

}
.Hero_Section .content .buttons img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.Hero_Section .content button:hover{
    transform: scale(1.07);
}



/*---------------------- Specifications_Section ----------------------*/


.Specifications_Section {
    position: absolute;
    top: 800px;
    background-color: rgb(247 245 255);
    width: 100%;
    height: 1300px;
    text-align: center;
}
.Specifications_Section h2{
    font-size: 35px;
    margin-top: 70px;
    margin-bottom: 20px;
}
.Specifications_Section h2 span{
    color: rgb(142 81 255);
}

.Specifications_Section p{
    font-size: 20px;
}

.Specifications_Section table{
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: center;
    border-collapse: collapse;    

}

.Specifications_Section .table_padding{
    width: 80%;
    height: 800px;
    margin: auto;
    margin-top: 50px;
    padding: 40px;
    border: rgb(209 213 220) solid 2px;
    background-color: white;
    border-radius: 20px;
    

}

.Specifications_Section table thead tr{
    border-bottom: rgb(209 213 220) solid 2px;
    height: 80px; 
}

.Specifications_Section table thead tr{
    border-bottom: rgb(209 213 220) solid 1px;
}

.Specifications_Section table tbody tr{
    border-bottom: rgb(209 213 220) solid 1px;
}


.Specifications_Section table img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}


.Specifications_Section table thead p{
    font-size: 18px;
    font-weight: 700;
}
.Specifications_Section table thead span{
    color:rgb(106 114 130);
    font-size: 15px;
}

.Specifications_Section table .first{
    text-align: left;
    font-weight: 600;
}


.Specifications_Section table .second{
    background-color: rgb(237 233 254);
    color: rgb(112 8 231);  
}
thead tr th.second {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
tbody tr.foot td.second {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.Specifications_Section table .second .box{
    position: relative;
    font-size: 15px;
    vertical-align: auto;
}

.Specifications_Section table .second .box img{
    position: relative;
    top: 5px;
    
}



.Specifications_Section table tbody tr.foot{
    padding:20px;
    border-spacing: 20px;
    border-bottom: none;
    font-weight: 700;
}

.Specifications_Section table tbody tr.foot b{
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}

span.star{
    font-size: 30px;
    color: rgb(253 199 0);     
}



.Specifications_Section .trophy{
    background-color: rgb(255, 255, 255);
    position: relative;
    margin: auto;
    margin-top: 60px;
    width: 400px;
    height: 80px;
    border-radius: 20px;
    text-align: left;
    border:solid 1px rgb(229 231 235);
}
.Specifications_Section .trophy img{
    width: 40px;
    height: 40px;
    position: relative;
    left:40px;
    top: 20px;
    padding-bottom: 10px;
}
.Specifications_Section .trophy h4{
    color: rgb(0 166 62);
    display: inline;
    position: relative;
    left: 50px;
    top: -15px;
    font-size: large;
}
.Specifications_Section .trophy p{
    color: rgb(0 166 62);
    display: inline;
    position: relative;
    font-size: small;
    left:90px;
    top: -10px;
}





/*---------------------- Reviews_Section ----------------------*/


.Reviews_Section {
    position: relative;
    top: 2100px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 1450px;
    text-align: center;
}
.Reviews_Section h2{
    font-size: 35px;
    margin-top: 70px;
    margin-bottom: 20px;
}
.Reviews_Section h2 span{
    color: rgb(127 34 254);
}

.Reviews_Section p{
    font-size: 20px;
}



.Reviews_Section .Reviews{
    height: 1200px;
    margin: 70px;
    position: relative;
    
}

.Reviews_Section .Reviews .left{
    position: sticky;
    left: 160px;
    top: 60px;
    width: 23%;
    padding: 30px;
    border: rgb(209 213 220) solid 2px;
    border-radius: 20px;
    padding-bottom: 0;
}
.Reviews_Section .left h1{
    font-size:60px;
    margin: 0;
}
.Reviews_Section .left .star{
    font-size:30px;
}
.Reviews_Section .left p{
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: 500;
}

.Reviews_Section .left .bar{
    display: flex;
    margin-bottom: 15px;
}
.Reviews_Section .left .rating-bar{
    background-color: rgb(229 231 235);
    width: 70%;
    height: 13px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    border-radius: 20px;
    
}

.Reviews_Section .left .rating-bar .fill{
    background-color: rgb(240 177 0);
    height:100%;
    border-radius: 20px;
}

.Reviews_Section .left .total{
    text-align: center;
    display: flex;
}
.Reviews_Section .left .total .l{
    margin: auto;
}
.Reviews_Section .left .total .l h3{
   font-size: 25px;
   margin: 0;
   margin-top: 15px;
}

.Reviews_Section .right .rectangle{
    width: 100%;
    position: relative;
    height: 250px;
    border: rgb(209 213 220) solid 2px;
    border-radius: 20px;
    margin-bottom: 30px;
}
.Reviews_Section .right{
    height: 100%;
    width: 770px;
    position: absolute;
    left: 520px;
    top: 0;
}


.Reviews_Section .right img{
    width: 50px;
    height: 50px;
    border: rgb(142 81 255) 2px solid;
    border-radius: 50%;
    position: absolute;
    top: 40px;
    left: 30px;
}
.Reviews_Section .right .rectangle .up{
    display: flex;
}

.Reviews_Section .right .rectangle .up .right-left{
    position: absolute;
    top: 30px;
    left: 100px;
    text-align: left;
    width: 300px;
}
.Reviews_Section .right .rectangle .up .right-left h4{
    margin: 0;
    font-size: large;
}
.Reviews_Section .right .rectangle .up .right-left p{
    margin-top: 5px;
    margin-bottom: 0;
    font-size: medium;
}
.Reviews_Section .right .rectangle .up .right-left p span.star{
    color: rgb(253 199 0); 
    font-size: large;
}
.Reviews_Section .right .rectangle .up .right-right{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 200px;
    text-align: right;
}
.Reviews_Section .right .rectangle .up .right-right p{
    font-size: small;
    margin: 0;
    margin-top: 10px;
}
.Reviews_Section .right .rectangle .up .right-right div{
    display: inline;
    font-size: 12px;
    background-color: rgb(237 233 254);
    border-radius: 20px;
    width: 130px;
    color: rgb(93 14 192);
    text-align: center;
    padding: 3px 10px;
    font-weight: 700;
}



.Reviews_Section .right .rectangle p.comment{
    font-size: large;
    padding: 30px;
    position: absolute;
    top: 80px;
    text-align: left;
    line-height: 1.5;
}


.Reviews_Section .right .button{
    display: inline;
    font-size: 17px;
    background-color: rgb(142 81 255);
    border: 0 solid;
    border-radius: 30px;
    width: 220px;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-weight: 700;
    transition: all .2s;
    margin-top: 30px;
}


.Reviews_Section .right .button:hover{
    color: rgb(127 34 254);
    background-color: white;
    border:rgb(127 34 254) solid 2px;
}





/*---------------------- Products_Section ----------------------*/


.Products_Section{
    position: relative;
    top: 2100px;
    height: 840px;
    width: 100%;
    background-color: rgb(247 245 255);
    text-align: center;
    
}


.Products_Section h2{
    padding-top: 70px;
    font-size: 35px;
    margin-bottom: 20px;
}
.Products_Section h2 span{
    color: rgb(127 34 254);
}

.Products_Section p{
    font-size: 20px;
}

.Products_Section .products{
    width: 83%;
    height: 500px;
    display: flex;
    margin: auto;
    
}
.Products_Section .product{
    width: 245px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border: rgb(209 213 220) solid 2px;
    border-radius: 20px;
    padding: 20px;
    margin: 15px;
}
.Products_Section .products .image{
    background-image: url(images/related-products-1.png);
    background-size: cover;
    position: relative;
    width: 240px;
    height: 200px;
    margin: auto;
    border-radius: 15px;
    transition: transform .7s;
    
}
.Products_Section .products .product:hover .image{
    transform: scale(1.1);
}
.Products_Section .products .image .box{
    background-color: rgb(166 132 255);
    margin: 0;
    position: absolute;
    top:10px;
    left: 10px;
    color: white;
    font-size: small;
    padding: 7px 15px;
}
.Products_Section .products .content {
    text-align: left;
}
.Products_Section .products .content h4{
    font-size: larger;
    margin-bottom: 0;
}
.Products_Section .products .content p{
    font-size: medium;
    line-height: 1.5;
}
.Products_Section .products .price{
    display: flex;
    position: relative;
    padding: 0;
}
.Products_Section .products .price h3{
    font-size: 22px;
    font-weight: 800;
    margin-top: 5px;
}
.Products_Section .products .price p{
    position: absolute;
    right: 0;
    font-size: medium;
    padding: 10px 15px;
    margin-top: 5px;
    margin-right: 0;
    
}


.Products_Section .view-all{
    display: inline;
    font-size: 17px;
    
    border: 2px rgb(112 8 231) solid;
    background-color: transparent;
    border-radius: 30px;
    width: 220px;
    color: rgb(112 8 231);
    text-align: center;
    padding: 20px 10px;
    font-weight: 700;
    transition: all .1s;
    margin-top: 20px;
    transition: all .2s;
}

.Products_Section .view-all:hover{
    color: white;
    background-color: rgb(112 8 231);
}



/*---------------------- footer ----------------------*/


.footer{
    background-color: rgb(16 24 40);
    position: relative;
    padding-left: 130px;
    padding-right: 130px;
    width: 100%;
    top: 2100px;
    height: 450px;
    box-sizing: border-box;
}

.footer .top{
    width: 100%;
    display: flex;
    position: relative;
    height: 300px;
    margin: 40px;
    margin-left: 0;
    
}
.footer .left{
    width: 25%;
    position: relative;
    top:70px;
    height: 220px;
    margin-right: 20px;
    
}
.footer .left img{
    background-color: rgb(142 81 255);
    width: 22px;
    height: 22px;
    padding: 10px;
    border-radius: 9px;

}
.footer .left h2.DJI{
    color: white;
    margin-left: 3px;
    margin-top: 10px;
    position: absolute;
    top: 0;
    left: 50px;
}
.footer .left p{
    color: white;
    line-height: 1.6;
}

.footer .left .icons{
    width: 100%;
    
}
.footer .left .icons a img{
    background-color: rgb(30 41 57);
    width: 22px;
    height: 22px;
    padding: 10px;
    margin-right: 15px;
    margin-top: 10px;
    border-radius: 9px;
    transition: background-color .2s; 
}
.footer .left .icons a img.facebook:hover{
    background-color: rgb(9, 111, 228);
}
.footer .left .icons a img.twitter:hover{
    background-color: rgb(12, 175, 244);
}
.footer .left .icons a img.instagram:hover{
    background-color: rgb(218, 14, 82);
}
.footer .left .icons a img.youtube:hover{
    background-color: rgb(231, 16, 16);
}


.footer table{
    height: 240px;
    width: 65%;
    position: relative;
    top: 50px;
    text-align: left;
    color: rgb(153 161 175);

}
.footer table a{
    text-decoration: none;
    color: rgb(153 161 175);
    transition: color .3s;

}
.footer table a:hover{
    color: white;

}
.footer table{
    height: 240px;
    width: 65%;
    position: relative;
    top: 50px;
    text-align: left;
    color: rgb(153 161 175);

}
.footer table thead tr th{
    height: 60px;
    color: white;
    font-size: large;
}

.footer hr{
    height: 0;
    color: rgb(34, 45, 63);
    border: 1px rgb(34, 45, 63) solid;
    
}

.footer .bottom{
    display: flex;
    position: relative;
    color: white;
    font-size: small;
    margin-top: 30px;
    
}
.footer .bottom .images {
    position: absolute;
    right: 0;
    
    
}
.footer .bottom .images img{
    height: 22px;
    padding: 7px;
    background-color: white;
    border-radius: 7px;
    margin-left: 20px;
    
}

